@font-face {
  font-family: Axiforma;
  src: url(../media/fonts/Axiforma/Kastelov-AxiformaLight.otf);
}

@font-face {
  font-family: DrukWide;
  src: url(../media/fonts/DrukWide/DrukWide-Bold.ttf);
}

@font-face {
  font-family: Souvenir;
  src: url(../media/fonts/Souvenir-Medium.e82df30.woff);
}

@font-face {
  font-family: icf;
  src: url(../media/fonts/IntegralCF-Bold.1513f4b.woff);
}

@font-face {
  font-family: IvarDisplay;
  src: url(../media/fonts/IvarDisplayCondensed-Light.woff2);
}

@font-face {
  font-family: GT-America;
  src: url(../media/fonts/GTAmericaRegular.ttf);
}
